* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(180deg, #89c2ff, #d0e7ff);
  min-height: 100vh;
}

.app {
  max-width: 480px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.search-box button {
  padding: 10px 15px;
  background: #0055ff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.weather {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.weather-main img {
  width: 100px;
}

.weather-detail {
  margin-top: 15px;
  font-size: 16px;
}

.forecast {
  margin-top: 30px;
}

.forecast-container {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  justify-content: space-between;
}

.card {
  background: white;
  text-align: center;
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 50px;
}
